
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
  }
  
  h1, h2 {
    font-weight: bold;
    margin-top: 0;
  }
  
  img {
    max-width: 100%;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #171a21;
    color: #fdfdfd;
    padding: 10px;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 1rem;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
  }
  
  article {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    margin: 1rem;
    max-width: 800px;
    padding: 1rem;
  }
  

  footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }

  .ul_menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: right;
    text-align: center;
    width: 600px;
    height: 100%;
  }

  